
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c67bd1d5537b978b4fe00f5f26dd1287
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress